{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% if title %}
  <title>Trucker- {{title}}</title>
  {% else %}
    <title> Trucker</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'boards.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %} <h1 class='text-center'></h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
