<div class="col-sm-4 col-md-4 navbar-right">
    <body>
      </div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
      <a class="navbar-brand" href="{% url 'board' %}"><center>TRUCKER</center></a>
      </div>
      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
            <li><a class="active" href="{%url 'board'%}">Trucker</a></li>
            <li><a href="{%url 'profile'%}">Edit Profile</a></li>
            <li><a href="/accounts/password/change">Change Password</a></li>
            <li><a href="{%url 'maps'%}">Map</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
   
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        {% endif %}
      </div>
    </div>
</nav>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar
<div class="sidebar">
  <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{%url 'dashboard'%}"><i class="fa fa-fw fa-wrench"></i>Dashboard</a>
  <a href="{%url 'maps'%}"><i class="fa fa-fw fa-user"></i>Map</a>
  <a href="{%url 'view-profile' user.id %}"><i class="fa fa-fw fa-envelope"></i>View Profile</a>
</div>
   -->